* {
  margin: 0;
  padding: 0;
}

.body-container {
  display: grid;
  grid-template-columns: 85%;
  justify-content: center;
}
.body-container body {
  font-family: "Nunito", sans-serif;
}

.redes-sociales {
  display: flex;
  list-style: none;
  padding-left: 450px;
  padding-top: 10px;
}
.redes-sociales .lista-redes {
  padding-top: 20px;
  padding-right: 40px;
}

.icono-facebook, .icono-instagram, .icono-maps {
  width: 40px;
  height: 40px;
  border-radius: 20%;
}
.icono-facebook:hover, .icono-instagram:hover, .icono-maps:hover {
  transform: scale(1.1);
  transition: all 0.6s;
}

@media only screen and (max-width: 1024px) {
  .zona-nav-footer {
    width: 400px;
    font-size: x-small;
  }

  .container-imagen .imagenes-venta {
    width: 150px;
  }

  header .img {
    margin-left: 270px;
  }

  .texto-header-container {
    float: right;
    padding-top: 30px;
  }

  .h2-redes {
    padding-top: 40px;
  }
  .h2-redes .h2-texto {
    padding-left: 400px;
  }
}
@media only screen and (max-width: 768px) {
  .redes-sociales {
    padding-left: 300px;
  }

  .icono-facebook, .icono-instagram, .icono-maps {
    height: 30px;
    width: 30px;
    border-radius: 15%;
  }

  header .img {
    margin-left: 200px;
  }

  .container-imagen .imagenes-venta {
    width: 100px;
  }

  .section2-container .img-destacados-1 {
    height: 200px;
  }
  .section2-container .img-destacados-2 {
    height: 200px;
  }

  .h2-redes {
    padding-top: 40px;
  }
  .h2-redes .h2-texto {
    padding-left: 400px;
  }
}
@media only screen and (max-width: 320px) {
  .body-container {
    display: block;
  }

  header .container-img .img {
    margin-left: 80px;
    width: 160px;
    height: 150px;
  }

  body header .texto-header-container {
    padding-top: 10px;
  }

  .imagenes-venta {
    width: 100px;
  }

  .section2-container .img-destacados-1 {
    height: 80px;
    padding-top: 4px;
  }
  .section2-container .img-destacados-2 {
    height: 80px;
    padding-top: 4px;
  }
  .section2-container .img-destacados-3 {
    height: 40px;
    padding-top: 4px;
  }

  .lista-footer {
    font-size: 8px;
  }

  .icono-facebook, .icono-instagram, .icono-maps {
    width: 20px;
    height: 20px;
    border-radius: 20%;
  }

  .zona-nav-footer {
    width: auto;
  }

  .redes-sociales {
    padding-left: 70px;
  }

  .redes-sociales .lista-redes {
    padding-top: 10px;
    padding-right: 10px;
  }

  body .container-categorias {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .container-imagen .imagenes-venta {
    width: 110px;
  }

  .nombre-y-precio {
    font-size: small;
  }

  .section2-container .img-destacados {
    padding-top: 2px;
  }

  body .footer-container {
    padding-top: 10px;
    padding-bottom: 5px;
  }

  body .container-contacto {
    border: none;
  }

  body form {
    width: auto;
  }
}
header .texto-header-container {
  display: grid;
  float: right;
  padding-top: 60px;
}
header .container-img {
  padding-top: 10px;
  padding-bottom: 20px;
}
header .img {
  width: 250px;
  height: 200px;
}
header .h2-header {
  background-color: black;
  color: rgba(219, 219, 219, 0.848);
  text-align: center;
}

.section1-container {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: space-around;
  padding-top: 40px;
}

.img-destacados-1 {
  width: 100%;
  height: 350px;
  padding-top: 40px;
}

.img-destacados-2 {
  width: 100%;
  height: 300px;
  padding-top: 40px;
}

.img-destacados-3 {
  width: 100%;
  padding-top: 40px;
}

.footer-container {
  padding-top: 40px;
  padding-bottom: 20px;
}
.footer-container footer {
  background-color: black;
  padding-top: 10px;
}

.zona-nav-footer {
  display: grid;
  grid-template-columns: 40% auto;
}

.lista-footer {
  color: rgba(195, 195, 195, 0.683);
}

.ayuda {
  background-color: #212529;
  padding-top: 20px;
}
.ayuda p, .ayuda h1, .ayuda h2, .ayuda h3 {
  color: rgba(219, 219, 219, 0.848);
  text-align: center;
}

.container-contacto {
  border: solid 5px black;
}
.container-contacto h1 {
  color: rgba(195, 195, 195, 0.683);
  text-align: center;
  padding-bottom: 20px;
}

form {
  width: 450px;
  margin: auto;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 10px;
  border-radius: 7px;
}

input, textarea {
  width: 100%;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

.container-categorias {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto auto;
}

.imagenes-venta {
  padding-top: 20px;
  width: 250px;
  margin-left: 35px;
}
.imagenes-venta:hover {
  transform: scale(1.1);
  transition: all 0.6s;
}

.nombre-y-precio {
  text-align: center;
  padding: 10px;
}

.boton-comprar {
  display: flex;
  justify-content: center;
}

.h2-redes {
  padding-top: 40px;
}
.h2-redes h2 {
  padding-left: 750px;
}

.encabezados {
  background-color: rgba(219, 219, 219, 0.848);
  padding: 10px;
}

.container-ofertas {
  background-color: black;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-items: center;
}

/*# sourceMappingURL=style.css.map */
