@import "variables";

header {    
        
    .texto-header-container {
        display: grid;        
        float: right;
        padding-top: 60px;   
    }     

    .container-img {
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .img {
        width: $ancho-imagen;
        height: $alto-imagen;        
    }
 
    .h2-header {
        background-color: black;
        color: $color-texto;
        text-align: center;
    }
}

