@media only screen and (max-width:1024px) {
    .zona-nav-footer {
        width: 400px;
        font-size: x-small;
    }
   
    .container-imagen {
   
        .imagenes-venta {
            width: 150px;
        }
    }

    header .img {
        margin-left: 270px;
    }

    .texto-header-container {        
        float: right;
        padding-top: 30px;
    }

    .h2-redes {
        padding-top: 40px;   
    
        .h2-texto {
            padding-left: 400px;
        }
    }   
}

@media only screen and (max-width:768px) {
    .redes-sociales {
        padding-left:300px;
    }

    .icono-facebook, .icono-instagram, .icono-maps {    
        height: 30px;
        width: 30px;
        border-radius: 15%;     
    }

    header .img {
        margin-left: 200px;
    }

    .container-imagen {
        
        .imagenes-venta {
            width: 100px;
        }
    }

    .section2-container {
        
        .img-destacados-1 {
            height: 200px;
        }

        .img-destacados-2 {
            height: 200px;
        }
    }    
    
    .h2-redes {
        padding-top: 40px;   
    
        .h2-texto {
            padding-left: 400px;
        }
    }   
}

@media only screen and (max-width:320px) { 

    .body-container {
        display: block;
    }

    header {

        .container-img .img {
            margin-left: 80px;    
            width: $ancho-imagen-mobile;
            height: $alto-imagen-mobile;
        }       
    }

    body header .texto-header-container {
        padding-top: 10px;
    }
       
    .imagenes-venta {
        width: 100px;
    }

    .section2-container {
        
        .img-destacados-1 {
            height: 80px;
            padding-top: 4px;
        }

        .img-destacados-2 {
            height: 80px;
            padding-top: 4px;
        }

        .img-destacados-3 {
            height: 40px;
            padding-top: 4px;
        }
    }    
    
    .lista-footer {
        font-size: 8px;
    }
  
    .icono-facebook, .icono-instagram, .icono-maps {   
        width: 20px; 
        height: 20px;
        border-radius: 20%;     
    }

    .zona-nav-footer {
        width: auto;
    }

    .redes-sociales {
        padding-left: 70px;
    }

    .redes-sociales .lista-redes { 
        padding-top: 10px;        
        padding-right: 10px;
    }

    body .container-categorias {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .container-imagen .imagenes-venta {
        width: 110px;
    }

    .nombre-y-precio {
        font-size: small;
    }

    .section2-container .img-destacados {
        padding-top: 2px;
    } 

    body .footer-container {
        padding-top: 10px;
        padding-bottom: 5px;
    }

    body .container-contacto {
        border: none;
    }

    body form {
        width: auto;
    }
}
    
       