.redes-sociales {
    display: flex;    
    list-style: none;     
    padding-left: 450px;
    padding-top: 10px;
    
    .lista-redes {
        padding-top: 20px;
        padding-right: 40px;        
    }
}

.icono-facebook, .icono-instagram, .icono-maps {    
    height: 50px;
    border-radius: 15%;   
    
    &:hover {
        transform: $animaciones-transform; 
        transition: $animaciones-transition;
    }
}