
.container-contacto {
    background-color: black;

    h1 {
        color: $color-ul;
        text-align: center;
        padding-bottom: 20px;
    }
}

form {
    width: 450px;
    margin: auto;    
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 10px;
    border-radius: 7px;
}

input, textarea {
    width: 100%;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}


