@import "variables";

.container-categorias {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto;
}
  
.imagenes-venta{
    padding-top: 20px;
    width: $tamanio-img-venta;
    margin-left: $margen-img-venta;    

    &:hover {
        transform: $animaciones-transform;
        transition: $animaciones-transition;
    }
}    

.nombre-y-precio {
    text-align: center;
    padding: 10px;

}

.boton-comprar {
    display: flex;
    justify-content: center;        
}

.h2-redes {
    padding-top: 40px;   

    h2 {
        padding-left: 750px;
    }
}

.encabezados {
    background-color: $gris-1;
    padding: 10px;
}


