.img-destacados-1 {
    width: 100%;
    height: 350px;
    padding-top: 40px;
}

.img-destacados-2 {
    width: 100%;
    height: 300px;
    padding-top: 40px;
}

.img-destacados-3 {
    width: 100%;
    padding-top: 40px;
}


