.container-categorias {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto;
}
  
.imagenes-venta{
    padding-top: 20px;
    width: $tamanio-img-venta;
    margin-left: $margen-img-venta;    
}    

.nombre-y-precio {
    text-align: center;
    padding: 10px;

}

.boton-comprar {
    display: flex;
    justify-content: center        
}


