$medida-body: 85%;
$color-texto: rgba(219, 219, 219, 0.848);
$color-ul: rgba(195, 195, 195, 0.683);
$ancho-imagen: 250px;
$alto-imagen: 200px;
$ancho-imagen-mobile: 160px;
$alto-imagen-mobile: 150px;
$tamanio-img-venta: 250px;
$margen-img-venta: 35px;
$animaciones-transform: scale(1.1);
$animaciones-transition: all 0.6s;
